In [3]:
import pandas as pd

In [3]:
employee_details = pd.read_csv('employee_details.csv')

In [4]:
employee_salary_2017 = pd.read_csv('employee_salary_2017.csv')

In [5]:
employee_salary_2018 = pd.read_csv('employee_salary_2018.csv')

In [6]:
employee_salary_2019 = pd.read_csv('employee_salary_2019.csv')

In [11]:
employee_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
employee_code    1000 non-null object
first_name       1000 non-null object
last_name        1000 non-null object
email            1000 non-null object
gender           1000 non-null object
age              1000 non-null int64
ip_address       1000 non-null object
location         1000 non-null object
job_title        1000 non-null object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB

In [12]:
employee_salary_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
employee_code    700 non-null object
salary_2017      700 non-null float64
dtypes: float64(1), object(1)
memory usage: 11.1+ KB

In [13]:
employee_salary_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 2 columns):
employee_code    900 non-null object
salary_2018      900 non-null float64
dtypes: float64(1), object(1)
memory usage: 14.2+ KB

In [14]:
employee_salary_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
employee_code    1000 non-null object
salary_2019      1000 non-null float64
dtypes: float64(1), object(1)
memory usage: 15.8+ KB

In [19]:
import os, glob
import pandas

0

In [7]:
df = pd.read_csv('MergedDataset.csv')

In [8]:
df.shape

(589, 22)

In [10]:
df.isnull()

,Number of Records,age,email,employee_code,first_name,gender,ip_address,job_title,last_name,location,...,q3,q4,q5,q6,q7,q8,q9,salary_2017,salary_2018,salary_2019
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
585,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
586,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
587,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
588,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().sum(axis = 0)

Number of Records    0
age                  0
email                0
employee_code        0
first_name           0
gender               0
ip_address           0
job_title            0
last_name            0
location             0
q1                   0
q2                   0
q3                   0
q4                   0
q5                   0
q6                   0
q7                   0
q8                   0
q9                   0
salary_2017          0
salary_2018          0
salary_2019          0
dtype: int64